$font_main: "Montserrat", sans-serif;

$black_40: rgb(0 0 0 / 0.4);
$black_60: rgb(0 0 0 / 0.6);
$black_80: rgb(0 0 0 / 0.8);
$black_100: rgb(0 0 0);

$white_40: rgb(255 255 255 / 0.4);
$white_60: rgb(255 255 255 / 0.6);
$white_80: rgb(255 255 255 / 0.8);
$white: rgb(255 255 255);
$cyan: rgb(22 78 99);
$pink: rgb(80 7 36);
$rose: rgb(76 5 25);
$slate: rgb(241 245 249);

$shadow: 
    0 0 #0000,  
    0 0 #0000, 
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);